---
http_interactions:
- request:
    method: get
    uri: http://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects.json
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects.json">redirected</a>.</body></html>
  recorded_at: Wed, 20 Feb 2013 09:26:01 GMT
- request:
    method: get
    uri: https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"16419e937c2180fd653b69378a77ea41"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived":false,"created_at":"2013-02-19T11:32:06-05:00","estimated_velocity":20,"historic_velocity":[],"id":15504817,"keyword":"test","name":"test-project","updated_at":"2013-02-19T11:32:07-05:00","completed_iterations_count":0,"completed_stories_count":0,"users":[{"created_at":"2013-02-19T11:31:47-05:00","email":"loic.minaudier+fake-user-for-api@gmail.com","id":15506817,"name":"loic-minaudier-fake-user-for-api","updated_at":"2013-02-19T11:31:47-05:00","gravatar_url":"https://secure.gravatar.com/avatar/9ddba4784ddfcd87efaf03ba3b96e51c.png?d=https%3A%2F%2Fwww.apptrajectory.com%2Fassets%2Fuser.png&amp;r=PG&amp;s=150"}],"subscribed_user_names":["loic-minaudier-fake-user-for-api"],"subscribed_user_ids":[15506817],"tags":[]}]'
  recorded_at: Wed, 20 Feb 2013 09:26:02 GMT
recorded_with: VCR 2.4.0
