---
http_interactions:
- request:
    method: get
    uri: https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects/test/ideas.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e8b6e0e36a2bdc3b3fd44a0b2ff2f0f7"'
    body:
      encoding: US-ASCII
      string: ! '[{"body":"Some content for idea 2","comments_count":0,"created_at":"2013-02-28T14:40:44+01:00","id":15505355,"last_activity_at":"2013-02-28T14:40:44+01:00","lookup_hash":"d106c797a22ada9a36c8","project_id":15504817,"subject":"Idea
        2","updated_at":"2013-02-28T14:40:44+01:00","user_id":15506817,"user":{"created_at":"2013-02-19T17:31:47+01:00","email":"loic.minaudier+fake-user-for-api@gmail.com","id":15506817,"name":"loic-minaudier-fake-user-for-api","updated_at":"2013-02-19T17:31:47+01:00","gravatar_url":"https://secure.gravatar.com/avatar/9ddba4784ddfcd87efaf03ba3b96e51c.png?d=https%3A%2F%2Fwww.apptrajectory.com%2Fassets%2Fuser.png&amp;r=PG&amp;s=150"},"upload_ids":[],"stories_count":0,"accepted_stories_count":0,"last_comment_user_name":null,"subscribed_user_ids":[15506817],"last_activity_at":"2013-02-28T14:40:44+01:00","state":"in-progress","story_ids":[]},{"body":"some
        content for idea 1","comments_count":0,"created_at":"2013-02-28T14:40:25+01:00","id":15505354,"last_activity_at":"2013-02-28T14:40:25+01:00","lookup_hash":"695fb9b05740b30c3a76","project_id":15504817,"subject":"idea
        1","updated_at":"2013-02-28T14:40:25+01:00","user_id":15506817,"user":{"created_at":"2013-02-19T17:31:47+01:00","email":"loic.minaudier+fake-user-for-api@gmail.com","id":15506817,"name":"loic-minaudier-fake-user-for-api","updated_at":"2013-02-19T17:31:47+01:00","gravatar_url":"https://secure.gravatar.com/avatar/9ddba4784ddfcd87efaf03ba3b96e51c.png?d=https%3A%2F%2Fwww.apptrajectory.com%2Fassets%2Fuser.png&amp;r=PG&amp;s=150"},"upload_ids":[],"stories_count":0,"accepted_stories_count":0,"last_comment_user_name":null,"subscribed_user_ids":[15506817],"last_activity_at":"2013-02-28T14:40:25+01:00","state":"in-progress","story_ids":[]}]'
  recorded_at: Thu, 28 Feb 2013 14:06:00 GMT
recorded_with: VCR 2.4.0
