---
http_interactions:
- request:
    method: get
    uri: https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"bfeab5f9c99936d290d55a9a8fa0e1ea"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived":false,"created_at":"2013-02-19T18:32:06+02:00","estimated_velocity":13,"historic_velocity":[1],"id":15504817,"keyword":"test","name":"test-project","updated_at":"2013-02-28T15:40:44+02:00","completed_iterations_count":1,"completed_stories_count":1,"users":[{"created_at":"2013-02-19T18:31:47+02:00","email":"loic.minaudier+fake-user-for-api@gmail.com","id":15506817,"name":"loic-minaudier-fake-user-for-api","updated_at":"2013-02-19T18:31:47+02:00","gravatar_url":"https://secure.gravatar.com/avatar/9ddba4784ddfcd87efaf03ba3b96e51c.png?d=https%3A%2F%2Fwww.apptrajectory.com%2Fassets%2Fuser.png&amp;r=PG&amp;s=150"}],"subscribed_user_names":["loic-minaudier-fake-user-for-api"],"subscribed_user_ids":[15506817],"tags":[]}]'
  recorded_at: Thu, 28 Feb 2013 14:05:58 GMT
- request:
    method: get
    uri: https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects/test/stories/completed.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b5a3b3e439838c6116224ffa1a348e0a"'
      Last-Modified:
      - Mon, 25 Feb 2013 00:05:09 GMT
    body:
      encoding: US-ASCII
      string: ! '{"stories":[{"archived":true,"assignee_id":15506817,"branch":"l-story-1","comments_count":0,"created_at":"2013-02-21T16:49:27+01:00","deleted":false,"design_needed":false,"development_needed":false,"id":15623694,"idea_id":null,"iteration_id":16055704,"points":1,"position":100,"state":"accepted","task_type":"Feature","title":"story
        1","updated_at":"2013-02-22T11:46:44+01:00","user_id":15506817,"state_events":["unaccept"],"comma_separated_tags":null}],"iterations":[{"accepted_points":1,"comments_count":0,"complete":true,"created_at":"2013-02-19T17:32:06+01:00","estimated_points":1,"estimated_velocity":20,"id":16055704,"starts_on":"2013-02-18","stories_count":1,"team_strength":100,"updated_at":"2013-02-25T01:05:09+01:00","percent_complete":100,"current?":false,"future?":false,"accepted_stories_count":1}]}'
  recorded_at: Thu, 28 Feb 2013 14:05:58 GMT
- request:
    method: get
    uri: https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects/test/stories.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b5a3b3e439838c6116224ffa1a348e0a"'
      Last-Modified:
      - Mon, 25 Feb 2013 00:05:09 GMT
    body:
      encoding: US-ASCII
      string: ! '{"stories":[{"archived":false,"assignee_id":null,"branch":null,"comments_count":0,"created_at":"2013-02-21T16:49:31+01:00","deleted":false,"design_needed":false,"development_needed":false,"id":15623695,"idea_id":null,"iteration_id":16057164,"points":0,"position":200,"state":"unstarted","task_type":"Feature","title":"story
        2","updated_at":"2013-02-25T01:05:09+01:00","user_id":15506817,"state_events":["start"],"comma_separated_tags":null}],"iterations":[{"accepted_points":0,"comments_count":0,"complete":false,"created_at":"2013-02-25T01:05:09+01:00","estimated_points":0,"estimated_velocity":13,"id":16057164,"starts_on":"2013-02-25","stories_count":1,"team_strength":100,"updated_at":"2013-02-25T01:05:09+01:00","percent_complete":0,"current?":true,"future?":false,"accepted_stories_count":0}]}'
  recorded_at: Thu, 28 Feb 2013 14:05:59 GMT
recorded_with: VCR 2.4.0
