---
http_interactions:
- request:
    method: get
    uri: https://www.apptrajectory.com/api/76900a72434cfe249da911eea2a6c94a/accounts/fake-user-for-api-test/projects.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e94167bbc380ae4fbd312ed0ef59242e"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived":false,"created_at":"2013-02-19T11:32:06-05:00","estimated_velocity":13,"historic_velocity":[1],"id":15504817,"keyword":"test","name":"test-project","updated_at":"2013-02-28T08:40:44-05:00","completed_iterations_count":1,"completed_stories_count":1,"users":[{"created_at":"2013-02-19T11:31:47-05:00","email":"loic.minaudier+fake-user-for-api@gmail.com","id":15506817,"name":"loic-minaudier-fake-user-for-api","updated_at":"2013-02-19T11:31:47-05:00","gravatar_url":"https://secure.gravatar.com/avatar/9ddba4784ddfcd87efaf03ba3b96e51c.png?d=https%3A%2F%2Fwww.apptrajectory.com%2Fassets%2Fuser.png&amp;r=PG&amp;s=150"}],"subscribed_user_names":["loic-minaudier-fake-user-for-api"],"subscribed_user_ids":[15506817],"tags":[]}]'
  recorded_at: Thu, 28 Feb 2013 14:06:03 GMT
recorded_with: VCR 2.4.0
